body {
  margin: 0;
  font-family: system-ui, sans-serif;
  background: #0f172a;
  color: white;
}

.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
}

.title {
  font-size: 28px;
  margin-bottom: 10px;
}

.total {
  font-size: 22px;
  margin-bottom: 10px;
  opacity: 0.8;
}

/* LISTA SCROLL */

.listWrapper {
  flex: 1;
  width: min(80%, 700px);
  position: relative;
  overflow: hidden;
  border-radius: 16px;
}

.list {
  height: 100%;
  width: 80%;
  overflow-y: auto;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/* TARJETAS */

.card {
  background: #352d5f;
  padding: 14px;
  width: 100%;
  border-radius: 12px;
  font-size: 16px;
  box-sizing: border-box;
}

/* FONDO DIFUMINADO ABAJO */

.fadeBottom {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 80px;
  background: linear-gradient(to bottom, transparent, #0f172a);
  pointer-events: none;
}

/* BOTON FLOTANTE */

.fab {
  position: fixed;
  bottom: 25px;
  right: 25px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  font-size: 30px;
  border: none;
  background: #fbbf24;
  cursor: pointer;
}

.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal {
  background: #1e293b;
  padding: 20px;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 300px;
}

.modal input,
.modal select {
  padding: 10px;
  border-radius: 8px;
  border: none;
}

.modal button {
  padding: 10px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.modal button:first-of-type {
  background: #fbbf24;
}

.modal button:last-of-type {
  background: #334155;
  color: white;
}

/* SELECTION MODAL */

.selectionGrid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 12px;
}

.selectionOption {
  background: #334155;
  border-radius: 12px;
  padding: 12px;

  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: center;

  gap: 8px;

  cursor: pointer;
  transition: all 0.15s ease;

  min-height: 140px;
}

.selectionOption:hover {
  transform: scale(1.03);
}

.selectionImage {
  width: 60px;
  height: 60px;
  object-fit: contain;

  display: block;
}

.selectionLabel {
  text-align: center;
  font-size: 0.9rem;
}